* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    width: 100%;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    padding: 10PX;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

.headerlogo {
    width: 20vw;
    height: 8vh;
}

.navbar {
    width: 50%;
    height: 10VH;
    display: flex;
    align-items: center;
    justify-content: right;

}

.ul-navbar {
    width: 100%;
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 10px;


}

.li-navbar,
.link-navbar {
    color: #fff;
    font-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
    font-size: x-large;

}

.link-navbar:hover {
    text-shadow: 2px 2px 2px red;
}

.btn {
    width: fit-content;
    height: fit-content;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

.menulogo {
    color: #fff;
    font-size: 4vw;
}

.menulogo[name="close-outline"] {
    display: none;
}

/*home*/
.sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: gray;

}

.backblack {
    width: 70%;
    height: 90vh;
    margin-top: 10vh;
    background: #000;
    transform: translateX(-150%);
    transition: all 0.8s linear;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 10px;
}

.scroll .backblack {
    transform: translateX(0);
}

.myname {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 3.5vmax;
    display: flex;
    gap: 10px;
}

.animation {
    width: 25vmax;
    height: 4.3vmax;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 5px;
}

.indent {
    animation: indentanimation infinite  4s ease ;
    animation-delay: 2s;
}

.dev {
    color: orange;

}

.des {
    color: #fff;

}

.edi {
    color: rgb(4, 248, 4);

}

@keyframes indentanimation {
    0% {
        transform: translateY(0%)
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(-300%);
    }

}


.welcome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 4vmax;
}

.backwhite {
    width: 30%;
    height: 90vh;
    margin-top: 10vh;
    border: 1px solid #000;
    background: #fff;
    transform: translateX(150%);
    transition: all 0.8s linear;
}

.scroll .backwhite {
    transform: translateX(0);
}

.mypic {
    width: 30vmax;
    height: 30vmax;
    position: absolute;
    top: 25%;
    right: 15%;
    border: 25px solid gray;
    background-color: #fff;
    border-radius: 50%;
    padding: 20px;
    transform: scale(0);
    transition: all 0.9s linear;
}

.scroll .mypic {
    transform: scale(1);
}

.resume {
    width: fit-content;
    padding: 10px;
    background-color: #fff;
    font-size: xx-large;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
}

.resume:hover {
    background: linear-gradient(45deg, orange, #fff, green);
    box-shadow: 2px 2px 2px #fff;
}
/*about*/
#about{

    background-color: #fff;
}
.aboutcontent{
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding: 10px;
    gap: 5px;
}
.myaboutpic{
    width: 20vmax;
    height:20vmax;
    border-radius: 50%;
    border: 15px solid black;
    padding: 15px ;
    background-color: #fff;
    transform: scale(0);
    transition: all 0.8s linear;
    
}

.scroll .myaboutpic{
    transform: scale(1);
}
.abcontent{
    width: 100%;
    height: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transform: scale(0);
    transition: all 0.8s linear;
}
.scroll .abcontent{
    transform: scale(1);
}

.abcontent>.aboutquset{
    font-size: 5vw;
    font-weight: bold;
}
.abcontent>.aboutname{
    font-size: 3vw;
    font-weight: bold;
}

.abcontent>.aboutp{
    width: 70%;
    height: auto;
    font-size: 2vw;
    text-align: justify;
}
/*---------Projects----------*/
#projects{
    width: 100% ;
    height: 100vh;
    background-color: #fff;
}
.projectcontent{
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px ;
}
.box{
    width: 20vmax;
    height: 20vmax;
    box-shadow: inset 15px 15px 15px rgb(175, 174, 174),
    15px 15px 15px rgb(175, 174, 174);
    background-color: rgb(142, 137, 137);
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    transform: scale(0);
    transition: all 0.8s linear;
}
.scroll .box{
    transform: scale(1) ;
}
.exe>h1{
    font-size: 3vw;
    text-align: center;
    color: rgb(244, 161, 8);
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}
.graphic>h1{
    font-size: 2.5vw;
    text-align: center;
    color: purple;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}
.video>h1{
    font-size: 2.5vw;
    text-align: center;
    color: blue;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}
.web>h1{
    font-size: 2.5vw;
    text-align: center;
    color: rgb(4, 249, 4);
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}

.box>p{
    font-size :2vw; 
    text-align: center;
    color :#fff;
}

/*---------SERIVCES----------*/
#services{
    width: 100% ;
    height: 100vh;
    background-color: gray;
}
.servicescontent{
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px ;
}
.box2{
    width: 20vmax;
    height: 20vmax;
    box-shadow:  -10px -10px 10px  10px rgba(142, 137, 137, 0.669),
                 10px 10px 10px 10px rgb(0, 0, 0,0.1),
                 inset -10px -10px 10px  10px rgba(142, 137, 137, 0.669),
                inset 10px 10px 10px 10px rgb(0, 0, 0,0.1);
    background-color: rgba(142, 137, 137, 0.669);
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    transform: scale(0);
    transition: all 0.8s linear;
}
.scroll .box2{
    transform: scale(1) ;
}
.data>h1{
    font-size: 3vw;
    text-align: center;
    color: rgb(244, 161, 8);
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}
.graphic>h1{
    font-size: 2.5vw;
    text-align: center;
    color: purple;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}
.video>h1{
    font-size: 2.5vw;
    text-align: center;
    color: blue;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}
.web>h1{
    font-size: 2.5vw;
    text-align: center;
    color: rgb(4, 249, 4);
    text-decoration: underline;
    text-shadow: 2px 2px 2px #fff;
}

.box2>ul{
    font-size :1.5vw; 
    text-align: left;
    color :#fff;
}

/* Contact */
#contact{
    width: 100% ;
    height: 100vh;
    background-color: #000;
}
.contactcontent{
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: baseline;
    gap: 5px ;
}
.contact-logo{
    border: 1px solid #fff;
    width: 100%;
    height:50%;
    background: url('images/TB91.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.social-logo{
    width: 15vmax;
    height: 15vmax;   
    font-size: 15vmax;
    color: #fff;
    border-radius:  50%;
}
.social-logo[name="logo-whatsapp"]:hover{
    background-color: rgb(18, 181, 18);
    height: 10vmax;
    border-radius: 15px;
}
.social-logo[name="logo-instagram"]:hover{
    background: linear-gradient(45deg ,  yellow , #fd5949 ,#d6249f ,#285AEB );
   border-radius: 15px;
   height: 10vmax;
}
.social-logo[name="logo-facebook"]:hover{
    background-color: blue;
    border-radius: 15px;
    height: 10vmax;
}
.social-logo[name="mail-outline"]:hover{
    background: linear-gradient(45deg ,  yellow , #fd5949 ,#d6249f ,#285AEB );
    border-radius: 15px;
    height: 10vmax;
}

footer{
    width: 100%;
    height: 50%;
    padding: 3%;
    display: flex;
    align-items: left;
    justify-content: center;
    gap:15%;
    background-color: gray;

}
.formcontact{
    width:45%;
    height: 100%;
    border: 1px solid #fff;
    background-color: gray;
    box-shadow:  -10px -10px 10px  10px rgba(142, 137, 137, 0.669),
                 10px 10px 10px 10px rgb(0, 0, 0,0.1),
                 inset -10px -10px 10px  10px rgba(142, 137, 137, 0.669),
                inset 10px 10px 10px 10px rgb(0, 0, 0,0.1);
        padding: 10px;


}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:  5px;

}
form>h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    text-align:center ;
    background: url("images/textmahd.jpg");
    background-position: center;
    background-size: cover;
    background-clip: text;
    color: transparent;
}


.send_details{
    width: 100%;
    height: 30px;
    background: gray;
    border: none;
    caret-color: #000;
    font-weight: bold;
    font-size: larger;
    color: #000;
    text-align: left;
    box-shadow:  -1px -1px 1px  1px rgba(142, 137, 137, 0.669),
    1px 1px 1px 1px rgb(0, 0, 0,0.1),
    inset -1px -1px 1px  1px rgba(142, 137, 137, 0.669),
   inset 1px 1px 1px 1px rgb(0, 0, 0,0.1);
   padding-left: 5px;
   padding-top: 2px;
}
input::placeholder{
    color: rgb(60, 58, 58);
}


.extra{
    width: 45%;
    height: 100%;
    border: 1px solid #fff;
    box-shadow:  -10px -10px 10px  10px rgba(142, 137, 137, 0.669),
    10px 10px 10px 10px rgb(0, 0, 0,0.1),
    inset -10px -10px 10px  10px rgba(142, 137, 137, 0.669),
   inset 10px 10px 10px 10px rgb(0, 0, 0,0.1);
   display: flex;
    align-items: center;
    justify-content: center;
}
.contacme{
    font-size:5vw;
    font-weight: bolder;
    background: url("images/TB91.gif");
    background-position: center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
}
/* project.html file */
.sec .project{
   width: 100%;
   height: 90vh;
   margin-top: 10vh;
    background-color: #fff;

}
